body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.top {
  background-color: #20A1FF;
}
.top .div1 {
  overflow: hidden;
  margin-left: 4rem;
  color: #fff;
}
.top .div1 .img1 {
  margin-left: 3rem;
  float: left;
}
.top .div1 .div2 {
  display: inline-block;
}
.top .div1 .div2 .ul {
  padding-left: 0;
  display: inline-block;
}
.top .div1 .div2 .ul li {
  float: left;
  margin-right: 1rem;
  list-style-type: none;
  font-size: 2rem;
}
.zhong .div3 {
  background-color: #EFF1F7;
  height: 100%;
  display: inline-block;
  float: left;
}
.zhong .div4 {
  margin-left: 16rem;
  display: inline-block;
  width: 88%;
}
.zhong .div4 .div2 {
  margin-left: 2.1875rem;
  margin-top: 2rem;
}
.zhong .div4 .div2 .text {
  border: 1px solid #53B6FF;
}
.zhong .div4 .div2 .btn1 {
  background-color: #53B6FF;
  border-radius: 0.3rem;
  color: #fff;
  width: 6rem;
  padding: 0.1rem;
  border: 0;
  margin-left: 2rem;
}
.zhong .div4 .div2 .btn2 {
  background-color: #53B6FF;
  border-radius: 0.3rem;
  color: #fff;
  width: 6rem;
  padding: 0.1rem;
  border: 0;
  margin-left: 2rem;
}
.zhong .div4 .div2 .btn3 {
  background-color: red;
  border-radius: 0.3rem;
  color: #fff;
  width: 5rem;
  padding: 0.1rem;
  float: right;
  margin-right: 3rem;
  border: 0;
}
.zhong .div4 .th1 {
  width: 2%;
  padding-left: 4rem;
}
.zhong .div4 .th2 {
  width: 2%;
}
.zhong .div4 .th3 {
  width: 34%;
}
.zhong .div4 .th4 {
  width: 20%rem;
  padding-left: 12rem;
}
.zhong .div4 tr:hover {
  background-color: #AFD9EE;
}
